/* @media screen and (max-width:480px){
        flex-direction: column;
        align-items: center;
} */

a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}

/* md以下就... */
@media (max-width: 767.98px) {
  .secondsection {
    height: 60vh;
  }
  .controlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
    width: 15vw;
  }
}

.title {
  font-size: 50px;
  font-family: LeagueGothic;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-bottom: 0;
  margin-right: 20px;
}

.firstsection {
  background-color: rgb(255, 253, 208);
  display: flex;
  align-items: center;
  justify-content: center;
}

#rules {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: grey;
  color: aliceblue;
  width: 3.5rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
}

.secondsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 79vh;
  flex-direction: row-reverse;
}

.thirdsection {
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 25, 32, 0.5);
}

.controlPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: antiquewhite;
  width: 15vw;
  height: 79vh;
}

#customRange1 {
  width: 70%;
  height: 7%;
}

.speed {
  margin: 0;
}

.selectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 70%;
  height: 7%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  display: flex;
  width: 85vw;
  height: 79vh;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

/* #defaultCanvas0 {
  padding-top: 10px;
} */

@font-face {
  font-family: LeagueGothic;
  src: url("LeagueGothic-Regular-VariableFont_wdth.ttf");
}

.boxSelect {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#boxSelect {
  margin-top: 0;
}

.range {
  display: flex;
  justify-content: space-between;
}

.min,
.max {
  padding-right: 1rem;
}

.survivalall {
  margin-top: 1rem;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.rules {
  width: 50vw;
  height: 60vh;
  background-color: aliceblue;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.rules h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.rulecontent {
  line-height: 2rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter > h6 {
  padding-right: 10px;
}
